<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Laminas Test Suite">
            <directory>src/**/test</directory>
            <directory>src_bonus/**/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/*/src</directory>
            <directory suffix=".php">src_bonus/*/src</directory>
        </whitelist>
    </filter>
</phpunit>
